.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.avatar {
  width: 192px;
  height: 192px;
  border-radius: 96px;
}

.button {
  width: 199px;
  height: 40px;
  border-radius: 6px;
}
