.carousel {
  position: absolute;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  container-type: inline-size;

  --slide-height: 100%;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  &__viewport {
    overflow: hidden;
    height: 100%;
  }

  &__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
    height: 100%;
  }

  &__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    height: 100%;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 0.375rem;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
  }

  &__button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(51, 51, 51, 0.5);
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.125rem;
    color: var(--color-light-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    pointer-events: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    opacity: 0.9;

    span[role='img'] {
      min-width: 100%;
      min-height: 100%;
    }

    @container (min-width: 240px) {
      width: 2.25rem;
      height: 2.25rem;
    }

    @container (min-width: 480px) {
      width: 3rem;
      height: 3rem;
    }

    &:hover {
      background-color: var(--color-dark-300);
      transform: scale(1.1);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
      background-color: rgba(51, 51, 51, 0.9);
      &:hover {
        transform: none;
      }
    }

    &:focus-visible {
      outline: 1px solid var(--color-primary-700);
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    z-index: 5;
  }

  &__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 0.125rem;
    background: rgba(51, 51, 51, 0.5);

    @container (min-width: 480px) {
      gap: 0.75rem;
      padding: 0.5rem;
      margin-bottom: 0.25rem;
    }
  }

  &__dot {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-light-100);
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    transition: all 0.2s ease;

    @container (min-width: 480px) {
      width: 0.5rem;
      height: 0.5rem;
    }

    &:hover {
      background-color: var(--color-primary-500);
      transform: scale(1.1);
    }
    &:focus-visible {
      outline: 1px solid var(--color-primary-700);
    }

    &--active {
      background-color: var(--color-primary-500);
      transform: scale(1.1);
    }
  }
}

.clarendon {
  filter: contrast(120%) saturate(125%);
}

.lark {
  filter: brightness(110%) saturate(105%);
}

.gingham {
  filter: contrast(90%) brightness(105%) sepia(10%);
}

.moon {
  filter: grayscale(100%) contrast(110%);
}
