.section {
  width: 100%;

  &__title {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-light-100);
    line-height: 24px;
    margin-bottom: 18px;
  }
}

.subscriptionsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.subscriptionCard {
  width: 100%;
  min-height: 84px;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 1px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 12px 24px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    padding: 12px;
    min-height: auto;
  }

  &Inactive {
    opacity: 0.8;
    background-color: var(--color-dark-400);

    .subscriptionField__date {
      color: var(--color-light-900);
    }
  }

  &__fields {
    display: flex;
    gap: 80px;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
    }
  }
}

.subscriptionField {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 120px;

  @media (max-width: 768px) {
    min-width: 100%;
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-light-900);
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  &__date {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-light-100);
    line-height: 24px;
  }
}

.autoRenewalContainer {
  width: 100%;
  padding: 16px 24px;
  border-top: 1px solid var(--color-dark-300);
  margin-top: 8px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 16px;
  }
}
