.wrapper {
  display: block;
  height: 100%;
  background: #0d0d0d;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #333;
  background: #222;
  color: #fff;
}

.preview {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 350px;
    object-fit: contain;
  }
}

.navBtn {
  width: 61px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 6px 12px;

  &:hover {
    opacity: 0.7;
  }
}

.navBtnText {
  color: var(--color-primary-500);
}

.filtersRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 18px;
  padding: 24px 54px;
  background: #0d0d0d;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border-radius: 3px;
  }
}

.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 80px;

  span {
    margin-top: 0px;
    font-size: 12px;
    color: #bbb;

    &:hover {
      opacity: 0.7;
    }
  }

  &.active span {
    color: #397df6;
    font-weight: 600;

    &:hover {
      opacity: 1;
    }
  }
}

.filterThumb {
  width: 108px;
  height: 108px;
  border-radius: 6px;
  object-fit: cover;
  border: 2px solid transparent;
}

.clarendon {
  filter: contrast(120%) saturate(125%);
}

.lark {
  filter: brightness(110%) saturate(105%);
}

.gingham {
  filter: contrast(90%) brightness(105%) sepia(10%);
}

.moon {
  filter: grayscale(100%) contrast(110%);
}


.carouselWrapper {
  //flex: 1 1;
  height: 503px;
  width: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0d0d;

  div img {
    width: 490px;
    height: 503px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
}
