.wrapper {
  padding: 1.5rem;
  width: 23.625rem;
}

.title {
  text-align: center;
  padding-bottom: 2.1875rem;
}

.text {
  color: var(--color-light-900);
  padding-top: 0.3125rem;
  padding-bottom: 2.5rem;
}

.indentation {
  display: block;
  height: 1.5rem;
  width: 100%;
}