.createNewPassword {
  display: flex;
  justify-content: center;
  //align-items: center;
  min-height: 80vh;
  background: transparent;
}

.createNewPasswordForm {
  background: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly ;
  gap: 0;

  max-width: 378px;
}

.createNewPasswordTitle {
  text-align: center;
  margin-bottom: 24px;
  color: #fff;
}

.createNewPasswordError {
  color: #ff3b3b;
  margin-top: 4px;
  font-size: 14px;
  min-height: 18px;
}

.createNewPasswordLabel {
  color: #b0b0b0;
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: left;
  font-size: 14px;
}
