.form {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--color-light-900);
  margin-bottom: 2.5rem;
}
