.panel {
  display: flex;
  flex: 1;
  gap: 12px;
  align-items: center;

  min-width: 0;
}

.iconButton {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 28px;
  min-width: 28px;
  height: 28px;
  padding: 0;

  color: var(--color-light-100);
}

.recordingDot {
  flex-shrink: 0;

  width: 6px;
  height: 6px;
  border-radius: 50%;

  background-color: var(--color-danger-300);
}

.timer {
  flex-shrink: 0;
  font-size: var(--font-size-s);
  color: var(--color-light-100);
  white-space: nowrap;
}

.sendButton {
  flex-shrink: 0;

  min-width: auto;
  padding: 0 4px;

  color: var(--color-primary-500);
  white-space: nowrap;
}

.processing {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  font-size: var(--font-size-s);
  color: var(--color-light-900);
}
