.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}


.selectBtnContainer {
  width: 100%;
  max-width: 200px;
}

.modal {
  margin-left: 7%;
  max-width: 600px;
  min-height: 564px;
  min-width: 492px;
}

