.root {
  position: fixed;
  bottom: 45px;
  display: flex;
  align-items: center;
  width: 124px;
  height: 36px;
  padding: 12px;
  background-color: var(--color-dark-500-transparent);
  user-select: none;
}

.track {
  position: relative;
  flex-grow: 1;
  height: 2px;
  border-radius: 9999px;
  background-color: var(--color-light-100);
}

.range {
  position: absolute;
  height: 100%;
  background-color: #3b82f6; // синий, как у твоей кнопки
  border-radius: 9999px;
}

.thumb {
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--color-light-100);
  border: 3px solid var(--color-primary-500);
  border-radius: 50%;
  cursor: grab;
  transition: transform 0.2s ease;
}

.thumb:hover {
  transform: scale(1.2);
}
