.wrapper {
  position: relative;
  display: grid;
  width: 972px;
  height: 564px;
  background: var(--color-dark-300);
  grid-template-columns: 490px 480px;
  border: 1px solid var(--color-dark-100);
  overflow: hidden;
  z-index: 1001;
}
