.header {
  display: grid;
  grid-template-columns: 61px 1fr minmax(100px, auto);
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid var(--color-dark-100);
  background: var(--color-dark-300);
  color: var(--color-light-100);
}

.title {
  font-weight: 500;
  text-align: center;
}

.navBtn {
  min-width: 61px;
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  animation: fadeIn 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.progressContainer {
  min-width: 100px;
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 12px;
  animation: fadeIn 0.3s ease;
}

.uploadingText {
  color: var(--color-primary-500);
  padding: 0 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navBtnText {
  color: var(--color-primary-500);
}
