.container {
  height: 100%;
}

.content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-700);
  color: #6b7280;
}

.emptyContent {
  text-align: center;
}

.icon {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.title {
  background-color: var(--color-dark-300);
  color: var(--color-light-100);
  font-weight: 500;
  border-radius: 10px;
  font-size: 14px;
  padding: 12px 24px;
}

.subtitle {
  font-size: 0.875rem;
}
