.waveform {
  display: flex;
  flex: 1;
  gap: 1px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-width: 0;
  height: 24px;
}

.bar {
  flex: 1;

  min-width: 1px;
  min-height: 2px;
  max-width: 3px;
  border-radius: 1px;

  opacity: 0.55;
  background-color: var(--color-primary-100);
}

.history {
  flex: 0 0 24px;
  min-height: 24px;
}

.played {
  opacity: 1;
  background-color: var(--color-light-100);
}

.active {
  opacity: 1;
  background-color: var(--color-light-100);
}
