.actions {
  display: flex;
  gap: 0.75rem;
}

.btnUnfollow {
  color: var(--color-primary-500);
  box-shadow: inset 0 0 0 1px var(--color-primary-500);
  outline: none;

  &:hover {
    box-shadow: inset 0 0 0 1px var(--color-primary-100);
  }

  &:active {
    box-shadow: inset 0 0 0 1px var(--color-primary-700);
  }

  &:focus-visible {
    box-shadow: none;
    outline: 2px solid var(--color-primary-700);
  }
}
