.description {
  color: var(--color-light-900);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  margin-bottom: 1.5rem;
}

.message {
  color: var(--color-light-100);
  margin-bottom: 1.25rem;
}
