// html, body {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   height: 100%;
//   background: #000;
//   color: #fff;
//   font-family: Inter, Arial, sans-serif;
// }

.layout {
  display: flex;
  width: 100vw; // ✅ всегда во всю ширину экрана
  height: 100vh; // ✅ всегда во всю высоту
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 140px;
  background: #141e1c;
  //border-right: 1px solid #222;
  padding: 20px 0;
  position: fixed;
  top: 360px;
  left: 10px;
}
.feed {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  display: flex;
}

/* Posts grid */
/* Контейнер с постами */
.postsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* всегда 4 колонки */
  gap: 20px;
  padding: 20px;
  margin-left: 160px; /* место под sidebar */
  margin-right: 20px; /* чтобы справа не липло */
  width: calc(100%); /* растянуть по ширине */
  box-sizing: border-box;
}

.postCard {
  background: #111;
  border: 1px solid #222;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  width: 100%;
}

.postInfo {
  padding: 5px;
}

.userRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
}
.username {
  font-weight: 600;
  font-size: 14px;
}

.time {
  margin-left: auto;
  font-size: 12px;
  color: #aaa;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  color: #ccc;
}

.more {
  color: #3b82f6;
  cursor: pointer;
  margin-left: 4px;
  font-weight: 500;
}
