.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  overflow-x: hidden;
}


.card {
  background: #111;
  padding: 40px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  border: none;
}

.title {
  color: #fff;
  margin-bottom: 19px;
}

.subtitle {

  width: 294px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.form {
  margin-bottom: 24px;
}

.button {
  margin-top: 36px;
}

.successModal {

}
