.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.75rem 0;

  &__controls {
    display: flex;
    align-items: center;
    gap: 2.25rem;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 2rem;
    gap: 2rem;
  }
}

body[data-scroll-locked] .header {
  padding-right: calc(var(--removed-body-scroll-bar-size, 2rem));
}
