.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  //transition: transform(-50%, -50%);
  transform: translate(-50%, -50%);

  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  //position: relative;
  // transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0 0 #397df6,
      1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15),
      2.5em 0em 0 0 rgba(57, 125, 246, 0.15),
      1.75em 1.75em 0 0 rgba(57, 125, 246, 0.15),
      0em 2.5em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em 1.8em 0 0 rgba(57, 125, 246, 0.15),
      -2.6em 0em 0 0 rgba(57, 125, 246, 0.5),
      -1.8em -1.8em 0 0 rgba(57, 125, 246, 0.85);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0 0 rgba(57, 125, 246, 0.85),
      1.8em -1.8em 0 0 #397df6,
      2.5em 0em 0 0 rgba(57, 125, 246, 0.15),
      1.75em 1.75em 0 0 rgba(57, 125, 246, 0.15),
      0em 2.5em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em 1.8em 0 0 rgba(57, 125, 246, 0.15),
      -2.6em 0em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em -1.8em 0 0 rgba(57, 125, 246, 0.5);
  }
  25% {
    box-shadow:
      0em -2.6em 0 0 rgba(57, 125, 246, 0.5),
      1.8em -1.8em 0 0 rgba(57, 125, 246, 0.85),
      2.5em 0em 0 0 #397df6,
      1.75em 1.75em 0 0 rgba(57, 125, 246, 0.15),
      0em 2.5em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em 1.8em 0 0 rgba(57, 125, 246, 0.15),
      -2.6em 0em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0 0 rgba(57, 125, 246, 0.15),
      1.8em -1.8em 0 0 rgba(57, 125, 246, 0.5),
      2.5em 0em 0 0 rgba(57, 125, 246, 0.85),
      1.75em 1.75em 0 0 #397df6,
      0em 2.5em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em 1.8em 0 0 rgba(57, 125, 246, 0.15),
      -2.6em 0em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15);
  }
  50% {
    box-shadow:
      0em -2.6em 0 0 rgba(57, 125, 246, 0.15),
      1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15),
      2.5em 0em 0 0 rgba(57, 125, 246, 0.5),
      1.75em 1.75em 0 0 rgba(57, 125, 246, 0.85),
      0em 2.5em 0 0 #397df6,
      -1.8em 1.8em 0 0 rgba(57, 125, 246, 0.15),
      -2.6em 0em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0 0 rgba(57, 125, 246, 0.15),
      1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15),
      2.5em 0em 0 0 rgba(57, 125, 246, 0.15),
      1.75em 1.75em 0 0 rgba(57, 125, 246, 0.5),
      0em 2.5em 0 0 rgba(57, 125, 246, 0.85),
      -1.8em 1.8em 0 0 #397df6,
      -2.6em 0em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15);
  }
  75% {
    box-shadow:
      0em -2.6em 0 0 rgba(57, 125, 246, 0.15),
      1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15),
      2.5em 0em 0 0 rgba(57, 125, 246, 0.15),
      1.75em 1.75em 0 0 rgba(57, 125, 246, 0.15),
      0em 2.5em 0 0 rgba(57, 125, 246, 0.5),
      -1.8em 1.8em 0 0 rgba(57, 125, 246, 0.85),
      -2.6em 0em 0 0 #397df6,
      -1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0 0 rgba(57, 125, 246, 0.15),
      1.8em -1.8em 0 0 rgba(57, 125, 246, 0.15),
      2.5em 0em 0 0 rgba(57, 125, 246, 0.15),
      1.75em 1.75em 0 0 rgba(57, 125, 246, 0.15),
      0em 2.5em 0 0 rgba(57, 125, 246, 0.15),
      -1.8em 1.8em 0 0 rgba(57, 125, 246, 0.5),
      -2.6em 0em 0 0 rgba(57, 125, 246, 0.85),
      -1.8em -1.8em 0 0 #397df6;
  }
}
