.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}
.dateOfBirth {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}
.location {
  display: flex;
  gap: 24px;
  padding: 24px 0 10px;
}
.location_myPosition {
  display: flex;
  padding-block: 0 24px;
  align-items: center;
  gap: 4px;
  color: var(--color-light-700);
  &_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 4px;
    color: var(--color-primary-100);
    &:hover {
      text-decoration: underline;
    }
  }
}
.location_myPosition_button {
  display: flex;
  align-items: center;
  gap: 4px;
}
.aboutMe {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
}
.saveButton {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
}

.countrySelectWrapper {
  width: 100%;
}
