.info {
  display: flex;
  gap: 38px;
}

.details {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actionsSkeleton {
  display: flex;
  gap: 0.75rem;
  flex-shrink: 0;
}

.actionButtonSkeletonPrimary {
  width: 100px;
  height: 36px;
}

.actionButtonSkeletonSecondary {
  width: 163px;
  height: 36px;
}

.actionButtonSkeletonSingle {
  width: 166px;
  height: 36px;
}
