.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.title {
  font-weight: 500;
}

.navBtn {
  width: 61px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 6px 12px;

  &:hover {
    opacity: 0.7;
  }
}
.navBtnText {
  color: var(--color-primary-500);
}

.separator {
  margin: 12px 0;
  height: 10px;
  background-color: #333;
}
.emptyState {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr;
}
.emptyStateText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.cropContainer {
  position: relative;
  width: 490px;
  height: 503px;
  background: #333;
  overflow: hidden;
}

.cropper {
  background-color: transparent;
  transform: none;
  height: 100%;
  width: 100%;
}

.tools {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #333;
  color: #fff;
}

.zoomControl {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;

  input[type='range'] {
    flex: 1;
  }
}

.aspectRatios {
  box-sizing: border-box;
  position: absolute;
  bottom: 44px;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  width: 156px;
  height: auto;
  padding: 10px;

  background-color: var(--color-dark-500-transparent);
  backdrop-filter: blur(2px);

  > :last-child {
    margin-left: auto;
  }
}

.aspectIcon {
  border-radius: 3px;
  //border: 2px solid var(--color-light-900);
  border: 2px solid currentColor;

  &.oneToOne {
    width: 18px;
    height: 18px;
  }
  &.threeToTwo {
    width: 21px;
    height: 18px;
  }

  &.fourToFive {
    width: 18px;
    height: 26px;
  }

  &.sixteenToNine {
    width: 26px;
    height: 20px;
  }
}

.aspectBtn {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-light-900);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 4px;

  &.active {
    color: var(--color-light-100);

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.dropdown {
  z-index: 1000;
  background-color: #0d0d0d;
}

.thumbs {
  max-width: 461px;
  position: absolute;
  right: -36px;
  bottom: 42px;
  display: inline-grid;
  grid-template-columns: minmax(auto, 420px) auto;
  align-items: center;
  padding: 5px;
  gap: 5px;
  background: var(--color-dark-500-transparent);
}

.thumb {
  position: relative;
  width: 80px;
  height: 82px;
  overflow: hidden;
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
  border: 2px solid transparent;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.active {
    border-color: #0077ff;
  }

  &:hover .deleteBtn {
    opacity: 1;
    pointer-events: auto;
  }
}
.addThumbBtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .addThumb {
      svg {
        color: var(--color-primary-500);
      }

      border-color: var(--color-primary-700);
    }
  }
}
.addThumb {
  border: 2px solid var(--color-light-300);
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.countBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 10px;
  line-height: 5px;
  color: yellow;
  width: 15px;
  box-sizing: border-box;
  padding: 1px;
  height: 15px;
  border: 1px solid blue;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  background: #0000007a;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: var(--color-dark-500-transparent);
  position: fixed;
  bottom: 17px;
  z-index: 100;
  cursor: pointer;

  &.left {
    left: 17px;
  }
  &.right {
    right: 17px;
  }
  &.maximizeBtn {
    left: 77px;
  }
  //transition: all 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
  &.active {
    color: var(--color-primary-500);
    //border: 2px solid var(--color-primary-700);
  }
}

.iconBtn.active {
  color: var(--color-primary-500);
}
.sliderWrapper {
  position: fixed;
  bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 124px;
  height: 36px;
  padding: 12px;
  background-color: var(--color-dark-500-transparent);
  user-select: none;
}
.deleteBtn {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease;

  &:hover {
    background: rgba(255, 0, 0, 0.8);
  }
}

.noOverlay {
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}
