@import '@fontsource-variable/inter';
@import '@fontsource-variable/roboto';
@import '@ictroot/ui-kit/style.css';

:root {
  --font-family: 'Inter Variable', 'Roboto Variable', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: var(--font-family), Arial, sans-serif;
  max-width: 100vw;
}

body {
  /*color: darkgray;*/
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1220px;
  min-height: calc(100vh - 60px);
  margin: 60px auto 0;
  padding: 0 2rem;
}
