@import '@fontsource-variable/inter';
@import '@fontsource-variable/roboto';
@import '@ictroot/ui-kit/style.css';

:root {
  --font-family: 'Inter Variable', 'Roboto Variable', sans-serif;
  --background: #0d0d0d;
  --color-dark-500-transparent: rgba(23, 23, 23, 0.56);
}

html,
body {
  font-family: var(--font-family), Arial, sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  max-width: 1220px;
  min-height: 100vh;
  padding: 3.75rem 2rem 2rem 2rem;
  margin: 0 auto;
}

/* Когда в container только один main (без сайдбара) */
.container > main:only-child {
  display: block;
  max-width: 996px;
  padding-top: 1.5rem;
  margin: 0 auto;
  padding: 1.5rem 0 4rem;
  max-width: 972px;
  width: 100%;
}

/* Когда в container есть main вместе с другими элементами (с сайдбаром) */
.container:has(nav) > main,
.container:has(> :not(main):first-child) > main {
  min-height: 100%;
  height: 100%;
  margin-left: 160px;
  padding: 36px 0 36px 24px;
  max-width: none;
}

/*  
Changes in styles for the modal window, can be removed after editing in ui-kit
*/
._overlay_1p3pc_119 {
  z-index: 100;
}

._content_1p3pc_126 {
  z-index: 101;
}

/*  
Changes in styles for the alert, can be removed after editing in ui-kit
*/
._alert_vrmkq_1 {
  min-height: 0;
  max-height: none;
}
