@import '@fontsource-variable/inter';
@import '@fontsource-variable/roboto';
@import '@ictroot/ui-kit/style.css';

:root {
  --font-family: 'Inter Variable', 'Roboto Variable', sans-serif;
  --background: #0d0d0d;
}

html,
body {
  font-family: var(--font-family), Arial, sans-serif;
  max-width: 100vw;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1220px;
  min-height: calc(100vh - 60px);
  margin: 60px auto 0;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

/*  
Changes in styles for the modal window, can be removed after editing in ui-kit
*/

._overlay_1p3pc_119 {
  z-index: 100;
}

._content_1p3pc_126 {
  z-index: 101;
}
