.wrapper {
  border: 1px solid red;
  width: 100%;
}

.content {
  position: relative;
  border: 1px solid green;

  &.withSidebar {
    min-height: 100%;
    height: 100%;
    margin-left: 160px;
    padding: 36px 0 36px 24px;
  }

  &.withoutSidebar {
    margin: 0 auto;
    padding: 1.5rem 0 4rem;
    max-width: 972px;
  }
}

//align-self: stretch;
//  min-height: calc(100vh - 60px);
