.modal {
  width: 492px;
  height: 564px;

  &.filterStep {
    width: auto;
  }
}
.confirmModal {
  width: 378px;
}
.confirmModalText {
  padding-block: 6px 18px;
}

.confirmModalButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

