.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.videoWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1;
  overflow: hidden;
  background: var(--color-dark-900);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.error {
  color: var(--color-danger-500);
  text-align: center;
  padding: 16px;
  background: var(--color-dark-500-transparent);
  border-radius: 4px;
  margin: 16px 0;
}

.controls {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 400px;
  justify-content: center;
}

.switchIcon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.switchCameraBtn {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
