.container {
  display: grid;
  gap: 24px;
  width: 100%;
  grid-template-columns: 250px 1fr;
  padding-top: 24px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 13, 13, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.separatorContainer {
  position: absolute;
  bottom: 63px;
  width: 100%;
}
