.container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  margin: 0 auto;
  width: 100%;
}

.posts {
  display: grid;
  gap: 1rem 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
}
