.commentsPanel {
  display: flex;
  flex-direction: column;
  max-height: min(34rem, 42vh);
  padding-right: 0.75rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-100) transparent;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--color-dark-100);
    border-radius: 999px;
  }
}
