.actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.actionButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0;
  color: var(--color-light-100);
  cursor: pointer;
  background: transparent;
  border: 0;

  &:hover:not(:disabled) svg {
    scale: 1.1;
  }
}

.saveButton {
  margin-left: auto;
}
