.profile {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 36px 0 36px 24px;

  &Details {
    display: flex;
    gap: 38px;
  }

  &Avatar {
    width: 204px;
    height: 204px;
  }

  &Info {
    &Header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  &Actions {
  }

  &Stats {
    display: flex;
    gap: 80px;
    margin-bottom: 1.5rem;
    &Item {
    }
  }

  &About {
  }

  &Posts {
    display: grid;
    gap: 1rem 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));

    &Item {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 228px;
    }
  }
}
