//.container {
//  display: flex;
//  flex-direction: row;
//  // grid-template-columns: 1.5fr 1fr;
//  gap: 0;
//  // flex: 1;
//  // min-height: 0;
//}
//
//.media {
//  position: relative;
//  width: 100%;
//  // height: 100%;
//  background: black;
//}
//
//.image {
//  height: 100%;
//  width: 100%;
//  object-fit: contain;
//  object-position: center;
//}
//

//
//.comments {
//  flex: 1;
//  overflow: auto;
//  padding: 1rem;
//  display: flex;
//  flex-direction: column;
//  gap: 0.5rem;
//}
//
//.commentItem {
//  padding: 0.5rem 0.75rem;
//  background: var(--color-dark-300);
//  border-radius: 8px;
//}
//
//.inputRow {
//  display: grid;
//  grid-template-columns: 1fr auto;
//  gap: 0.5rem;
//  padding: 0.75rem 1rem 1rem;
//}
//
//.publishBtn {
//  white-space: nowrap;
//}
//
//

.modal {
  .body {
    height: inherit;
  }
}

.innermodal {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  //height: 100%;
  height: inherit;
  min-height: 0;
}

.photoContainer {
  position: relative;
  background: rgba(0, 0, 0, 0.59);
  min-height: 0;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
  object-position: center;
  max-height: 450px;
}

.postSideBar {
  display: flex;
  flex-direction: column;
  //border-left: 1px solid var(--color-dark-300);
  max-height: 450px;
  min-height: 0;

  padding: 0 24px;
}

.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.username {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #f47008;
  border-radius: 50%;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: scroll;
  max-height: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Comments list items */
.commentRow {
  display: flex;
  gap: 8px;
}

.commentAvatar {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 50%;
}

.commentAvatar1 {
  background: #081d79;
}

.commentAvatar2 {
  background: #ffffff;
}

.commentAvatar3 {
  background: #7f1414;
}

.commentAvatar4 {
  background: #0b31d5;
}

.timestamp {
  color: #8d9094;
}

.likeSendSave {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Likes row */
.likesRow {
  display: flex;
  gap: 8px;
}

.likesAvatars {
  display: flex;
}

.likeAvatar {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
}

.likeAvatar1 {
  background: #7f1414;
}

.likeAvatar2 {
  background: rgba(255, 255, 255, 0.77);
  margin-left: -8px;
  z-index: -1;
}

.likeAvatar3 {
  background: #0773e0;
  margin-left: -8px;
  z-index: -2;
}

.inputForm {
  display: flex;
}