.modal {
}

.container {
  display: grid;
  //flex-direction: row;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  height: 100%;

}

.media {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

.image {
  width: 100%;
  //object-fit: containx;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-dark-300);
  height: 100%;
}

.comments {
  //flex: 1;
  //overflow: auto;
  //padding: 1rem;
  //display: flex;
  //flex-direction: column;
  //gap: 0.5rem;
}

.commentItem {
  padding: 0.5rem 0.75rem;
  background: var(--color-dark-300);
  border-radius: 8px;
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  padding: 0.75rem 1rem 1rem;
}

.publishBtn {
  white-space: nowrap;
}


