.wrapper {
  position: relative;
  line-height: 1;
}

.toggle {
  padding: 0;
  min-width: auto;
  min-height: auto;
  color: var(--color-light-100);

  &:focus {
    color: var(--color-primary-500);
  }

  &:focus-visible {
    outline: 1px solid var(--color-primary-500);
  }
}

.menu {
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  top: 100%;
  right: 0;
  padding: 0.75rem 0;
  gap: 0.75rem;
  background: var(--color-dark-500);
  border-radius: 2px;
  border: 1px solid var(--color-dark-100);
}

.item {
  width: 100%;
  min-width: auto;
  min-height: auto;
  padding: 0.375rem 0.75rem;
  color: var(--color-light-100);
  justify-content: start;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.text {
  white-space: nowrap;
}
