.wrapper {
  display: flex;
  flex-direction: column;
  height: 300%;
  background: #0d0d0d;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  font-weight: 600;
  background: #222;
}

.preview {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 350px;
    object-fit: contain;
  }
}

.navBtn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
//.embla__slide img {
//  max-height: 100%;
//  width: 100%;
//  object-fit: contain;
//}

.filtersRow {
  display: flex;
  overflow-x: auto;
  gap: 4px;
  padding: 0px 12px;
  background: #0d0d0d;

  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border-radius: 3px;
  }
}

.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 80px;

  span {
    margin-top: 0px;
    font-size: 12px;
    color: #bbb;

    &:hover {
      opacity: 0.7;
    }
  }

  &.active span {
    color: #397df6;
    font-weight: 600;

    &:hover {
      opacity: 1;
    }
  }
}

.filterThumb {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
  border: 2px solid transparent;
}


.clarendon {
  filter: contrast(120%) saturate(125%);
}

.lark {
  filter: brightness(110%) saturate(105%);
}

.gingham {
  filter: contrast(90%) brightness(105%) sepia(10%);
}

.moon {
  filter: grayscale(100%) contrast(110%);
}

.carouselWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0d0d;

  img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}
