.modal-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: #0d0d0d;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  font-weight: 600;
  background: #222;
}

.photoPreview {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 450px;
    object-fit: contain;
  }
}
.publishBtn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.form {
  display: flex;
  flex-direction: column;

  textarea {
    width: 85%;
    min-height: 70px;
    resize: none;
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    outline: none;
    color: #555;
    align-self: center;
  }

  .counter {
    margin-top: 4px;
    margin-right: 40px;
    font-size: 12px;
    color: #888;
    text-align: right;
  }
}


.clarendon {
  filter: contrast(120%) saturate(125%);
}

.lark {
  filter: brightness(110%) saturate(105%);
}

.gingham {
  filter: contrast(90%) brightness(105%) sepia(10%);
}

.moon {
  filter: grayscale(100%) contrast(110%);
}
