.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-dark-300);
  color: #fff;
}

.carouselContainer {
  display: flex;
  width: max-content;
  flex-grow: 1;
}

.formContainer {
  padding: 24px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.photoPreview {
  position: relative;
  width: 490px;
  min-height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.locationContainer {
  padding: 24px;
}
.locationInput {
}
.locationInfo {
  padding: 6px;
}
.location {
  color: #8d9094;
}
.description {
  width: 433px;
  height: 120px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;

  textarea {
    width: 85%;
    min-height: 70px;
    resize: none;
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    outline: none;
    color: #555;
    align-self: center;
  }

  .counter {
    font-size: 12px;
    color: #888;
    text-align: right;
  }
}
