.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #000;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  font-weight: 600;
}

.photoPreview {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 350px;
    object-fit: contain;
  }
}

.form {
  padding: 12px;
  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
    padding: 8px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    outline: none;
    color: #333333;
  }

  .counter {
    margin-top: 4px;
    font-size: 12px;
    color: #888;
    text-align: right;
  }
}

/* фильтры такие же как в FilterStep */
.clarendon {
  filter: contrast(120%) saturate(125%);
}

.lark {
  filter: brightness(110%) saturate(105%);
}

.gingham {
  filter: contrast(90%) brightness(105%) sepia(10%);
}

.moon {
  filter: grayscale(100%) contrast(110%);
}
