.modal-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: #0d0d0d;
}


.photoPreview {
  width: 490px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  div img {
    width: 490px;
    height: 503px;
    object-fit: cover;
  }
}

.locationInput {

}

.description {
 div textarea {
    width: 433px;
    height: 120px;
    color: #fff;
  }

}


.form {
  display: flex;
  flex-direction: column;


  textarea {
    width: 85%;
    min-height: 70px;
    resize: none;
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    outline: none;
    color: #555;
    align-self: center;
  }

  .counter {
    font-size: 12px;
    color: #888;
    text-align: right;
  }
}

.clarendon {
  filter: contrast(120%) saturate(125%);
}

.lark {
  filter: brightness(110%) saturate(105%);
}

.gingham {
  filter: contrast(90%) brightness(105%) sepia(10%);
}

.moon {
  filter: grayscale(100%) contrast(110%);
}
