.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dropzone {
  width: 220px;
  height: 228px;
  background: #1e1e1e;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 40px;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: #397df6;
  }
}

.iconWrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 220px;
}

.primaryBtn {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  //background: #397df6;
  //border: none;
  //color: white;
  //padding: 8px 24px;
  //border-radius: 4px;
  //cursor: pointer;
  //font-weight: 600;
  margin-top: 20px;
  transition: background 0.2s ease;

  &:hover {
    background: #2f6ad9;
  }
}

.secondaryBtn {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  //background: transparent;
  //border: 1px solid #397df6;
  //color: #397df6;
  //padding: 8px 24px;
  //border-radius: 4px;
  //cursor: pointer;
  //font-weight: 600;
  margin-top: 10px;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(57, 125, 246, 0.1);
  }
}

.previewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 8px;
  margin-top: 10px;
  max-height: 180px;
  overflow-y: auto;
  width: 100%;
}

.previewImg {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #333;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
    border-color: #397df6;
  }
}

//.compressionWrapper {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  gap: 0.5rem;
//  margin-top: 1rem;
//
//  p {
//    font-size: 12px;
//    color: #555;
//    text-align: center;
//  }
//
//  svg {
//    transform: rotate(-90deg); // чтобы прогресс шел сверху
//  }
//}
.compressionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  animation: fadeIn 0.3s ease-in-out;
  svg {
    transform: scale(1.1);
  }
  p {
    font-size: 14px;
    color: #333;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
