.skeleton {
  --base: var(--color-dark-500);
  --highlight: var(--color-dark-300);

  width: 100%;
  height: 40px;
  border-radius: 4px;

  will-change: background-position;
  background-image: linear-gradient(
                  90deg,
                  var(--base) 20%,
                  var(--highlight) 37%,
                  var(--base) 63%
  );

  background-size: 400% 100%;
  animation: skeleton-loading 1.2s linear infinite;
}

.light {
  --base: var(--color-light-500);
  --highlight: var(--color-light-900);
}

.default {
  --base: #1a1a1a;
  --highlight: #222;
}

.dark {
  --base: #0f0f0f;
  --highlight: #1a1a1a;
}

@media (prefers-reduced-motion: reduce) {
  .skeleton {
    animation: none;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
