.preview {
  display: flex;
  align-items: center;
  gap: 12px;
}

.previewItem {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 2px;
  background-color: var(--color-dark-300);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.removeButton {
  position: absolute;
  top: 0;
  right: 0;

  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  padding: 0;

  color: var(--color-light-100);
  background-color: var(--color-dark-900);
  opacity: 0.8;
  border: none;
  border-radius: 0;
}
