.avatarContainer{
  position: relative;
  width: 192px;
  height: 192px;
}
.avatar{
  width: 100%;
  height: 100%;
  & div,img  {
    border-radius: 50%;
  }
}

.deleteBtn {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  border: none;
  border-radius: 50%;

  background-color: var(--color-dark-700);

  transition: background 0.2s;

  &:hover {
    box-shadow: 0 0 3px 1px var(--color-primary-100);
    background: var(--color-danger-900);
  }
  &:active{
    box-shadow: 0 0 3px 1px var(--color-primary-300);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 16px;
  height: 16px;

  background-color: var(--color-danger-500);
  border-radius: 50%;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-100);
  z-index: 2;
}

.placeholder {
  width: 100%;
  height: 100%;
  background: var(--color-dark-500);
  display: flex;
  align-items: center;
  justify-content: center;
}