.profile {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;

  &__details {
    display: flex;
    gap: 38px;
  }

  &__info {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__stats {
    display: flex;
    gap: 80px;
    margin-bottom: 1.5rem;
    &Item {
    }
  }

  &__about {
  }

  &__section {
    display: flex;
    flex-grow: 1;
    text-align: center;
  }

  &__posts {
    width: 100%;
    display: grid;
    gap: 1rem 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 234px), 1fr));
  }

  &__post {
    cursor: pointer;
    position: relative;
    height: 228px;
    &Image {
      object-fit: cover;
      object-position: center;
    }
  }

  &__message {
    width: 100%;
  }
}
