.profile {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;

  &Details {
    display: flex;
    gap: 38px;
  }

  &Info {
    width: 100%;
    &Header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  &Actions {
  }

  &Stats {
    display: flex;
    gap: 80px;
    margin-bottom: 1.5rem;
    &Item {
    }
  }

  &About {
  }

  &SectionPosts {
    display: flex;
    flex-grow: 1;
    text-align: center;
  }

  &Posts {
    width: 100%;
    display: grid;
    gap: 1rem 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 234px), 1fr));

    &Item {
      cursor: pointer;
      position: relative;
      height: 228px;
    }

    &Image {
      object-fit: cover;
      object-position: center;
    }

    &Message {
      width: 100%;
    }
  }
}
